.app {
  color: white;
  padding: 50px;
}
.container-fluid {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/567/original/Background_%281%29.png?1695051286);
  max-width: fit-content;
  background-color: black;
}
.Today {
  font-size: 40px;
  top: 10px;
  left: 0px;
  position: relative;
  font-weight: lighter;
}

#link {
  position: relative;
  top: 0px;
  left: 370px;
  color: blue;
}
#weather {
  font-size: larger;
  list-style: none;
  position: relative;
  left: 300px;
  top: -150px;
  font-weight: lighter;
}
#date {
  font-weight: lighter;
}
#time {
  font-weight: lighter;
}
#forecast {
  font-weight: bolder;
}
@media (max-width: 750px) {
  #weather {
    margin-left: -340px;
    margin-top: 200px;
  }
  #weather-forecast {
    margin-top: -120px;
  }
  #forecast {
    margin-top: -100px;
  }
  #link {
    margin-left: -310px;
  }
}
