.card {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 48px;
  display: block;
}
.container {
  border-radius: 10px;
  padding: 10px 30px 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/093/081/original/clouds-animationl.gif?1691837889");
  background-size: cover;
  margin: 80px auto 0;
}
.Today {
  font-size: 40px;
  top: 10px;
  left: 0px;
  position: relative;
  font-weight: lighter;
}

#link {
  position: relative;
  top: 0px;
  left: 370px;
}
#weather {
  font-size: larger;
  list-style: none;
  position: relative;
  left: 300px;
  top: -150px;
  font-weight: lighter;
}
#date {
  font-weight: lighter;
}
#time {
  font-weight: lighter;
}
#forecast {
  font-weight: bolder;
}
