.card {
  margin: 48px;
  margin-bottom: 0px;
  padding: 48px;
}
.Today {
  font-size: 40px;
  top: 170px;
  left: 900px;
  position: fixed;
}
#link {
  position: relative;
  top: 0px;
  left: 370px;
}
#weather {
  list-style: none;
  position: relative;
  left: -30px;
  top: 15px;
}
#date {
  font-weight: lighter;
}
#time {
  font-weight: lighter;
}
